$primary: #E72E51;
$secondary: #262626;

$text-colors: (
  1: #E8E8E8,
  2: #ADADAD,
  3: #8C8C8C,
  dark: #262626,
);

@each $name, $value in $text-colors {
  .rb-text-color-#{$name} {
    color: $value;
  }
}

$backgrounds: (
  light: #ffffff,
  dark: #262626,
  primary: #E72E51,
);

@each $name, $value in $backgrounds {
  .rb-background-#{$name} {
    background: $value;
  }
}
