* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  &:link,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none;
    color: unset;
  }
}

body {
  font-family: "Open Sans", serif;
  font-weight: normal;
}
