@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

$font-sizes: 16, 24, 40;

@each $size in $font-sizes {
  .rb-font-size-#{$size} {
    font-size: #{$size}px;
    line-height: 1;
  }
}

$font-weights: (
  bold: 700,
  semibold: 600,
  normal: 500,
  light: 400,
);

@each $name, $value in $font-weights {
  .rb-font-weight-#{$name} {
    font-weight: $value;
  }
}
